<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Guess My Number</title>
    <meta name="description" content="Number Guessing Game with Flask" />
  </head>
  <body>
    <h1>Number Guessing Game</h1>
    <p>Guess a number by clicking a link</p>
    {% for number in range(1, 100) %} 
    {% if random_number == number %}
    <li><a href="guess/{{ number }}">{{ number }}</a></li>
    {% elif number < random_number %}
    <li><a href="guess/{{ number }}">{{ number }}</a></li>
    {% elif number > random_number %}
    <li><a href="guess/{{ number }}">{{ number }}</a></li>
    {% endif %} {% endfor %}
  </body>
</html>
